@model FinalKampus.Models.Mahasiswa

@{
    ViewBag.Title = "Mahasiswa";
}



<div>
    <br />
    <h3 style="color:red;"><b>Apakah kamu yakin ingin menghapus data ini?</b></h3>
    <br />
    <dl class="dl-horizontal">
        <dt>
            NRP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NRP)
        </dd>

        <dt>
            Semester Mahasiswa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mahasiswa_semester)
        </dd>

        <dt>
            Nama Mahasiswa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mahasiswa_nama)
        </dd>

        <dt>
            Jurusan Mahasiswa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mahasiswa_jurusan)
        </dd>

        <dt>
            Mata Kuliah Pilihan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MataKuliah.matakuliah_nama)
        </dd>

        <dt>
            Seminar Pilihan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seminar.seminar_nama)
        </dd>

        <dt>
           Total Harga
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mahasiswa_alamat)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
