@model FinalKampus.Models.MataKuliah

@{
    ViewBag.Title = "Mata Kuliah";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <br />
    <h3>
        <b>Ubah Data Mahasiswa</b>
    </h3>
    <hr />
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.matakuliah_id)

    <div class="form-group">
        <div class="control-label col-md-2">
            <h5><b>Nama Mata Kuliah</b></h5>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.matakuliah_nama, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.matakuliah_nama, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <h5><b>Semester</b></h5>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.matakuliah_semester, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.matakuliah_semester, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <h5><b>Harga Mata Kuliah</b></h5>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.matakuliah_harga, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.matakuliah_harga, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
